<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>EvMev - Yuva bulmak artik cok kolay</title>
        {% block extra_head %}
        
        {% endblock %}
    </head>
    <body>
<div class=¨container">
	<div class="row">
		<div class="span8 offset2">
		
	
        	<div class="content well">	
            	<p>
            	{% block content %}        
            	{% endblock %}
            	</p>
        	</div>
        </div>
	</div>
</div>
    </body>
</html>
