{% extends "home.html" %}

{% block home %}
﻿
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDo6g_iN2DkoKowHsdb76z2fVP1gpM980I&sensor=false&libraries=drawing&language=tr"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>   

    <script type="text/javascript">
    //------------------
        //Google MAP API 
    //------------------
    
        function fetchAdds() {

        //Get add list
        }

        function initializeMap() {
            
            var center = new google.maps.LatLng({{ ilan.latt }}, {{ ilan.lng }});

            //var marker;
            var map;
            var geocoder = new google.maps.Geocoder();

            var myOptions = {
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: center,
                mapTypeControl: false
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            window.marker = new google.maps.Marker({
                map: map,
                draggable: true,
				position: center,
                animation: google.maps.Animation.DROP
            });
            
            google.maps.event.addListener(map, 'center_changed', function () {
                // 3 seconds after the center of the map has changed, pan back to the
                // marker.
                window.setTimeout(function () {
                    //map.panTo(marker.getPosition());
                    //marker.setPosition(map.getCenter());
                }, 3000);
            });
            
        }
        
    </script>
	<style>
body
{
height:100%;
width:100%;
}

.smallimg
{
	height:50px;
	width:50$("#bigimg").css( "bpx;
	float:left;
}

.smallimg:hover
{

}

#bigimg
{
height:600px;
widht:800px;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
background-size:40% 50%;
display:none;
z-index:2;
}
#phooter
{

height:70px;
}
#msgboxbg
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	background-color:white;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
	z-index:4;
}

#msgbox
{
	float:none;
	margin:0 auto;
	z-index:5;
	filter: alpha(opacity=90);
	opacity: 0.9;
	background-color:#77C;
	display:none;
}

#msgboxerror
{
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color:#C88;
	filter: alpha(opacity=80);
	padding:15px;
	text-align:center;
	opacity: 0.8;
	display:none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #ccc;
    font-size:12px;
}
    </style>

<div id="bigimg"></div>

<div id="msgboxerror" class="row">
Kendinize mesaj gonderiyordunuz, engelledik :)
</div>
<div id="msgboxbg">
</div>
		<div id="msgbox" class="well" style="">
			<form action="/ilan/mesaj/" method="post">{% csrf_token %}
			<div class="row">
		 		<div class="span5">
		 		<h3>Mesaj yaz</h3>
		 		</div>
		 		<div class="span1">
		 			<div id="msgboxClose" style="float:right;"><img src="/static/close.png" width="20px" height="20px" alt="kapat"/> </div>
		 		</div>
		    </div>
			<div class="row">
				<div class="span2">
				<br/>
					Iletmek istediginiz mesajinizi yazin
				</div>
		 		<div class="span4">
		 		<input type="hidden" name="ilanid" value="{{ ilan.id }}"/>
		 		<input type="hidden" id="msgTo" name="msgTo" value="{{ ilan.user.id }}"/>
		 		<textarea name="mesaj" class="field span4" rows="10"></textarea>
		 		</div>
		 	</div>
		 	<div class="row">
				<div class="span6">
					<input type="submit" class="btn btn-success" style="float:right;" value="Mesaji Gonder"></div>
				</div>
			</div>
			</form>
		</div>
	


<div id="content" class="container">
	 
	<div class="row" style="margin: 20px 0 20px 0">
		<div class="span5 offset1">
			<h2>Sicak bir yuva ara</h2>
		</div>  
	</div>

	<div class="row">
		<div class="span4 offset1">
			<div style="height: 300px; float: left;margin-left:30px">
				
    	       	<div id="map_canvas" style="width: 280px; height: 280px; float: left;"></div>                    
    	    </div>
		</div>
    	<div class="span6">  
			<div class="row well">
			{{ ilan.useremail }} : {{ ilan.username }} : {{ ilan.userid }}
				<div class="span5">  
					<div class="row">
						<h2>{{ ilan.baslik }}</h2> {{ ilan.aciklama }}
					</div>
					<div class="row">
						Fiyat (TL/ay): {{ ilan.fiyat }}
					</div>
					<div class="row">
						Alan: {{ ilan.alan }}
					</div>
					
					{% if ilan.balkon %}
						<div class="row">
						Balkon <img src="/static/check.png" width="20px" height="20px" alt="Balkon var" />
						</div>
					{% endif %}
					{% if ilan.internet %}
						<div class="row">
						Internet <img src="/static/check.png" width="20px" height="20px" alt="Internet var" />
						</div>
					{% endif %}
					{% if ilan.hayvan %}
						<div class="row">
						Hayvan <img src="/static/check.png" width="20px" height="20px" alt="Hayvan var" />
						</div>
					{% endif %}
					{% if ilan.teras %}
						<div class="row">
						Teras <img src="/static/check.png" width="20px" height="20px" alt="Teras var" />
						</div>
					{% endif %}
					{% if ilan.camasirmakinasi %}
						<div class="row">
						Camasir Makinasi <img src="/static/check.png" width="20px" height="20px" alt="Camasir makinasi var" />
						</div>
					{% endif %}
						<div class="row">
						<div id="submit" class="btn btn-large btn-success {% if user.id != None %}mesaj{% endif %}" style="float:right;">{% if user.id = None %} <a href="{% url 'registration_register' %}">Mesaj Gondermek icin Uye olunuz </a>{% else %} Mesaj Gonder {% endif %}</div>
						</div>

				</div>
				
				
			</div>
			
		</div>  
	</div>
	
</div>
<div style="clear: both;height:50px;">

</div>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="row-fluid">
		<div class="span7 offset1">
       <div id="phooter">
	<div class="row" style="margin: 20px 0 20px 0">
		<div class="span4 offset1" style="display:inline">
			<h3>Fotograflar : </h3>
		</div>
		<div class="span5" style="display:inline">
			
			<img src="/static/img/{{ ilan.imgname }}" class="thumbnail smallimg" alt="" />
			{% if ilan.imgname1 %}
				<img src="/static/img/{{ ilan.imgname1 }}" class="thumbnail smallimg" alt="" />
			{% endif %}
			{% if ilan.imgname2 %}
				<img src="/static/img/{{ ilan.imgname2 }}" class="thumbnail smallimg" alt="" />
			{% endif %}
		</div>  
	</div></div>
		  </div>
		</div>
	</div>
</div>
<!--end div.container-->
</div>
<!-- map -->
<script type="text/javascript">

    $(document).ready(function () { 
    initializeMap(); 
    $('#msgbox').css({
   		position:'absolute',
   		left: ($(window).width() - $('#msgbox').outerWidth())/2,
   		top: ($(window).height() - $('#msgbox').outerHeight())/2
 		 });
    });

	$(".smallimg").hover( function() {
			$("#bigimg").css( "background-image","url('" + $(this).attr('src')+"')");
			$("#bigimg").toggle();
			$("#content").toggle();
		//$("#bigimg").css( "z-index","3" );
	});
	
	$(".mesaj").click( function() {
		if ($("#msgTo").val() == "{{user.id}}")
		{
			$('#msgboxerror').fadeIn('slow');
			return false
		}
		$('#msgboxbg').fadeIn('slow');
		$('#msgbox').fadeIn('slow');
	});
	$("#msgboxClose").click( function() {
		$('#msgboxbg').fadeOut('slow');
		$('#msgbox').fadeOut('slow');
	});
	

</script>


<script type="text/javascript">


</script>


{% endblock %}
